
body {
    background-color: $background-color;
    
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 1em;
    padding: 0;
}
.nav {
    margin-left: auto;
    margin-right: auto;
}

.nav{
    ol, ul {
        padding:auto;
        background-color: $nav-color;
        font-family: 'Quando', serif;
        text-decoration: none;
        text-align: center;

        
        
    }

    li:hover {
        background-color: $hover-color;
    }
    
    li:active{
        background-color: $active-color;
    }

    a {
        color: $font-color;
        text-decoration: none;
    }
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    
}

.main {
    flex: 1 0 auto;
    background-color: $background-color-body;
    margin: auto;
    box-shadow: 0 0 5px 10px $background-color-body;
}
@media (min-width: 767px){
    .main{
        width: 70%;
    }
}

.header, .footer {
    flex: 0 0 auto;
}

body {
    
    line-height: 1.5rem;
    color: $font-color;
    
}

p, td, th, li, dd {
    font-family: 'Forum', serif;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 16px;
}

h1{

    font-family: 'Alegreya SC', serif;

}

h2, h3, h4, h5, h6 {
    
    font-family: 'Quando', serif;
    margin-bottom: 0.6em;
    font-weight: bold;
}

a {
    color: $link-colour;
}
