.header, .site-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 
    
    
}

/* Title */

.title, .logo {
    padding: 0.5em ;
    
    
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        float:left;
    }
}

.title * {
    font-family: 'Alegreya SC', serif;
    color:$font-color;
    font-size: 2em;
    float: left;

}

.title p {
    font-style: italic;
    float: right;
    font-size: 1em;
}
