img {
    max-width: 100%;
}

.me {
    max-width: 30%;
    display: inline-block;
    text-align: center;

}

.logo img {
    max-width: 50%;
    margin: auto;
}

.colour {
    max-width: 90%;
    display: inline-block;
    text-align: center;
}
