img {
    max-width: 100%;
}

.me {

    display: block;
float: right;
    width: 30%;
    border-radius: 25%;
    box-shadow: 0 0 5px 10px $background-color-body;
}

.logo img {
    max-width: 50%;
    margin: auto;
}

.colour {
    max-width: 90%;
    display: inline-block;
    text-align: center;
}
