/* technology.scss */
.landingpage {
    display: grid;
    gap: 1em 1em;

}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
   
}



.box1 {
    grid-column: span 1;
    justify-self: center;
    font-weight: 600;
    font-size: 1.5em;

}

.box2 {
    grid-column: span 2;
    justify-self: center;
    font-weight: 600;
    font-size: 1.5em;
}

.box3 {
    grid-column: span 3;
    justify-self: center;
    font-weight: 600;
    font-size: 1.5em;

}

@media (max-width: 500px){
    .landingpage h1 {
        grid-column: span 1;
        justify-self: center;
       
    }

    .box2 {
        grid-column: span 1;
        justify-self: center;
        font-weight: 600;
        font-size: 1.5em;
    }

    .box3 {
        grid-column: span 1;
        justify-self: center;
        font-weight: 600;
        font-size: 1.5em;
    
    }
}

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.blog .left {
    order: 1;
    flex-grow: 1;
    
}

.blog .main {
    
    order: 2;
    flex-grow: 3; 
}

@media (max-width: 500px){
    .blog .left {
        display: none;
    }
}

.article {
    
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
}