$font-color: #daf1f7;
$font-alternative-color: #fff;
$accent-color: #C077E4;
$background-color: #549098 ;
$background-alternative-color: #e0fbfc;
$background-color-body: #44527C;
$hover-color: #63B5A3;
$nav-color: #585498;
$active-color: #44757b;
$link-colour: rgb(211, 238, 245);