.gallery {
    display: grid;
    gap: 1em 1em;
}

.gallery h1 {
    grid-column: span 3;
    justify-self: center;
}

.pic {
    grid-column: span 1;
    justify-self: center;
    font-weight: 600;
    font-size: 1.5em;

}

@media (max-width: 500px){
    .gallery h1 {
        grid-column: span 1;
        justify-self: center;
       
    }
}